
/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');*/

body {
    font-family: 'Open Sans', 'sans-serif' !important;
    letter-spacing: .40px !important;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px !important;
}

label {
    font-family: 'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans' !important;
    font-weight: 650 !important;
    font-style: normal !important;
    font-size: 14px !important;
    color: #2A2A2A !important;
}

.wrap {
    width: 100%;
    min-width: 1330px;
}

.container {
    width: 1140px;
    margin: auto;
}

/*.hover_nav {
    color: #f99527;
}*/

.login-img-body {
    /*background: url('../images/home_bg.jpg')no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login {
    /*width: 775px;
    margin-top: 100px;
    margin-left: 143px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    left: 50%;
    overflow: hidden;*/
    display: block;
    margin: auto auto;
    width: 775px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.login_logo {
    padding-top: 15px;
    width: 355px;
    margin-bottom:30px;
}

.multiline_textboxtd {
    border: 1px solid #ccc;
    /*width: 200px;*/
    width: 100%;
    color: #696a6c;
    height: 100px !important;
    padding-left: 5px;
    background-color: #fff;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e4e4e4;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #e4e4e4;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #e4e4e4;
}

.login_txt {
    width: 355px;
    padding-left: 15px;
    padding-top: 30px;
}

    .login_txt p {
        font-family: 'Roboto 400', sans-serif;
        font-weight: 400;
        color: #242b6b;
        font-size: 19px;
    }

.login-left {
    width: 380px;
    float: left;
}

.login-right {
    width: 380px;
    float: right;
}

.login-form {
    position: relative;
    z-index: 1;
    margin-top: 25px;
    text-align: left;
    width: 325px;
}

    .login-form input {
        outline: 0;
        background: #ededed;
        width: 100%;
        border: 0;
        margin: 0 0 8px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 12px;
        height: 30px;
        font-family: 'Roboto 400', sans-serif;
    }

    .login-form button {
        font-family: 'Roboto 400', sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #613394;
        width: 95px;
        height: 30px;
        border: 0;
        color: #FFFFFF;
        font-size: 14px;
        margin-top: 25px;
    }

.login_welome {
    color: #242b6b;
    font-family: 'Roboto 700', sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.signin {
    color: #242b6b;
    font-family: 'Roboto 400',sans-serif;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.login-form .message a {
    font-family: 'Roboto 400', sans-serif;
    font-size: 11px;
    color: #242b6b;
    text-align: left;
}

.login_nav {
    margin-left: -40px;
    margin-top: 20px;
}

    .login_nav ul {
    }

    .login_nav li {
        color: #613394;
        list-style: none;
        font-family: 'Roboto 400', sans-serif;
        font-size: 15px;
        padding-right: 3px;
        line-height: 26px;
    }

    .login_nav a {
        font-family: 'OpenSans-Regular', 'Open Sans';
        font-weight: 400;
        text-decoration: none;
        color: #6017a3;
    }

.login2 {
    display: block;
    width: 775px;
    background: rgba(255, 255, 255, 0.8);
    margin: auto auto;
}

.blue_heading {
    color: #6017a3;
   
    font-size: 24px;
    text-align: left;
}

.login2_txt {
    color: #6f6f6f;
    font-size: 16px;
    text-align: left;
    width: 310px;
    line-height:24px;
}

.login2 button {
    font-family: 'Roboto 400', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 95px;
    height: 30px;
    border: 3px solid #c500d9;
    color: #c500d9;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.header {
    /*background: #f6eefb url('../images/header_top.png')right no-repeat;*/
    height: 100px;
    background-color: #f7f7f7;
}

.logo_index {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    float: left;
}

.logo_index img{
    width: 195px !important;
    height: 80px !important;
    margin-left: 25px !important;
}

.user_area {
    float: right;
    height: 100px;
    /*width: 355px;*/
    width: 355px;
    padding: 35px 0px;

}

    .user_area i {
        padding: 0px 6px;
        font-size: 20px;
        vertical-align: middle;
        color: #754aa5;
    }

ul.sidebar-menu li:hover {
    background-color: #e5e5e5;
} 

.userFont {
    font-size: 14px;
    color: #696969;
    cursor:pointer;
}

.user {
    background-color: #303c7e;
    color: #fff;
    font-family: 'Roboto 400', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 12px;
    height: 77px;
}

.signout {
    background-color: #aa7fd6;
    color: #000;
    font-family: 'Roboto 400', sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 7px;
    cursor: pointer;
}

    .signout a {
        text-decoration: none;
    }

    .signout:hover {
        background-color: #754aa5;
        color: #000;
        text-decoration: none;
    }

.content_area {
    width: 100%;
}

.leftnav {
    width: 238px;
    background-color: #f7f7f7;
    /*background: url('../images/side_nav-bg.jpg') no-repeat;*/
    float: left;
    height: 900px;
}

.clear {
    clear: both;
    height: 25px;
}

.nav {
    color: #FFFFFF;
    font-family: 'Roboto 400', sans-serif;
    font-size: 14px;
    float: left;
    height: 72px;
}

.nav_home {
    vertical-align: middle;
}

ul.sidebar-menu, ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 30px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

    #sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
        display: block;
    }

ul.sidebar-menu li ul.sub li {
    background: #394a59;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

    ul.sidebar-menu li ul.sub li:last-child {
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
    }

    ul.sidebar-menu li ul.sub li a {
        font-size: 12px;
        padding: 0 0 0 32px;
        line-height: 35px;
        height: 35px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #fff;
    }

        ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
            color: #fff;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            display: block;
        }

ul.sidebar-menu li {
    line-height: 20px !important;
    border-bottom: 1px solid #e5e5e5;
    transition: 0.35s all linear;
}

    ul.sidebar-menu li a span:first-child {
        width: 26px;
    }
    
    
    ul.sidebar-menu li:first-child {
        border-top: 1px solid #e5e5e5;
    } 
    
    ul.sidebar-menu li.sub-menu {
        line-height: 15px;
        font-size: 16px;
        cursor:pointer !important;
    }

    ul.sidebar-menu li a span {
        display: inline-block;
        vertical-align:sub !important;
    }

    ul.sidebar-menu li a {
        /*color: #636363 !important;
        text-decoration: none;
        display: block;
        padding: 3px 0 3px 20px;
        font-size: 13px;
        font-weight: 500;
        outline: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;*/
        font-family: 'OpenSans-Regular', 'Open Sans';
        padding: 9.5px 0px 9.5px 30px;
        font-weight: 400;
        display: block;
        font-style: normal;
        font-size: 13px;
        letter-spacing: normal;
        color: #333333;
        vertical-align: none;
        text-align: left;
        line-height: normal;
        text-transform: none;
    }

    ul.sidebar-menu li img {
        width: 50px;
        margin-right: 5px;
    }

    ul.sidebar-menu li a:active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
        color: #303c7e;
        display: block;
        text-decoration: none !important;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        ul.sidebar-menu li a i {
            font-size: 18px;
            padding-right: 6px;
        }

        ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
            /*color: #fff;*/
        }

    ul.sidebar-menu li.active {
        background-color: #e5e5e5;
    }

        ul.sidebar-menu li.active a {
            font-weight: 650;
            color: #303c7e;
        }

.side-bottom_nav {
    margin-top: 30px;
    margin-bottom: 15px;
}

    .side-bottom_nav ul {
    }

    .side-bottom_nav li {
        color: #fff;
        display: inline;
        font-family: 'Roboto 400', sans-serif;
        font-size: 11px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .side-bottom_nav a {
        color: #303c7e;
        text-decoration: none;
    }

.right_content {
    float: left;
    margin-left: 50px;
    min-width: 1030px;
    width: 60%;
    margin-top: 15px;
    padding-bottom:150px;
}

.subnav {
    margin-left: 30px;
}

    .subnav ul {
    }

    .subnav li {
        color: #868686;
        display: inline;
        font-family: 'Roboto 400', sans-serif;
        font-size: 12px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .subnav a {
        color: #868686;
        text-decoration: none;
    }

    .subnav li.active a {
        color: #f5821f;
        text-decoration: underline;
        font-weight: bold;
    }

    .subnav li a:hover {
        color: #f5821f;
        text-decoration: underline;
        font-weight: normal;
    }

.page_head {
}

    .page_head h1 {
        font-family: 'Roboto 700', sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: #868686;
        margin-top: 40px;
    }

.progress {
    color: #868686;
    font-family: 'Roboto 400', sans-serif;
    font-size: 17px;
    /*margin-top: 40px;*/
    margin-top: 15px;
}

.percent {
    color: #613394;
    font-family: 'Roboto 400', sans-serif;
    font-size: 15px;
    margin-left: 10px;
}

.meter {
    height: 14px;
    margin-top: 5px;
    width: 100%;
    position: relative;
    background: #c7c7c7;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

    .meter > span {
        display: block;
        height: 100%;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
        -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-topleft: 20px;
        -moz-border-radius-bottomleft: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: rgb(268,45,67);
        background-image: -webkit-gradient( linear,left bottom,left top,color-stop(0, rgb(268,45,67)),color-stop(1, rgb(267,45,16)));
        background-image: -moz-linear-gradient(center bottom,rgb(268,45,67) 37%,rgb(267,45,16) 69%);
        -webkit-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
        box-shadow: inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
    }

        .meter > span:after, .animate > span > span {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent),color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
            background-image: -moz-linear-gradient(-45deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,transparent 75%,transparent);
            z-index: 1;
            -webkit-background-size: 50px 50px;
            -moz-background-size: 50px 50px;
            -webkit-animation: move 2s linear infinite;
            -webkit-border-top-right-radius: 8px;
            -webkit-border-bottom-right-radius: 8px;
            -moz-border-radius-topright: 8px;
            -moz-border-radius-bottomright: 8px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            -webkit-border-top-left-radius: 20px;
            -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
            -moz-border-radius-bottomleft: 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            overflow: hidden;
        }

.animate > span:after {
    display: none;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

.blue > span {
    background-color: #825eab;
    background-image: -moz-linear-gradient(top, #825eab, #725296);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #825eab),color-stop(1, #725296));
    background-image: -webkit-linear-gradient(#825eab, #725296);
}

.provider_info-left {
    width: 15%;
    float: left;
    margin-top: 40px;
}

    .provider_info-left ul {
        margin-top: 0px;
        margin-left: -48px;
    }

    .provider_info-left li {
        color: #868686;
        font-family: 'Roboto 400', sans-serif;
        font-size: 14px;
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 20px;
        list-style-type: none;
    }

    .provider_info-left a {
        color: #868686;
        text-decoration: none;
    }

    .provider_info-left li.active a {
        color: #613394;
        text-decoration: none;
    }

    .provider_info-left li a:hover {
        color: #613394;
        text-decoration: none;
    }

.provider_form {
    width: 100%;
    margin: 0px auto;
}

.formbox-left {
    margin-top: 15px;
    float: left;
    width: 50%;
    padding-right: 10px;
}

.formbox-right {
    margin-top: 15px;
    float: left;
    width: 50%;
    padding-left: 10px;
}

.desc {
    color: #000;
    font-family: 'Roboto 700', sans-serif;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.inputbox {
    /*border: 1px solid #ccc;
    color: #696a6c;
    width: 100%;
    height: 35px;
    line-height: 45px;
    background-color: #fff;*/
    border: 1px solid #ccc;
    color: #696a6c;
    width: 100%;
    height: 35px;
    /*font-size: 14px;*/
    line-height: 24px;
    background-color: #fff;
    /*font-weight: 500;*/
}


#divDForm .form-control {
    font-size: 0.9375rem !important;
    font-weight: 400 !important;
}

.paging {
    width: 410px;
    float: right;
    text-align: center;
}

.back {
    color: #000;
    font-family: 'Roboto 700', sans-serif;
    font-size: 12px;
    font-weight: bold;
    float: left;
}

.next {
    color: #000;
    font-family: 'Roboto 700',sans-serif;
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin-left: 20px;
}

.save {
    float: left;
    margin-left: 160px;
    margin-top: 0px;
}

.welome_head {
    color: #383a75;
    font-family: 'Roboto 700', sans-serif;
    font-size: 26px;
    margin-top: 30px;
}

.welome_head2 {
    /*color: #262626;
    font-weight: 500;
    font-family: 'Roboto 700', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    text-align: left;*/
    font-size: 24px;
    color: #252C6C;
    font-family: 'OpenSans-Regular', 'Open Sans';
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    vertical-align: none;
    text-align: left;
    line-height: normal;
    text-transform: none;
}

.sub_head2 {
    color: #323232;
    font-family: 'Roboto 400', sans-serif;
    font-size: 18px;
    text-align: center;
}

.green-border_box {
    border: 2px solid #b8d652;
    background-color: #e9e9e9;
    width: 240px;
    float: left;
}

.box_head {
    color: #000;
    font-family: 'Roboto 400', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

.box ul {
}

.box li {
    list-style-type: none;
    color: #000;
    font-family: 'Roboto 400', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

    .box li a {
        color: #000;
        text-decoration: underline;
    }

        .box li a:hover {
            color: #000;
            text-decoration: none;
        }

.blue-border_box {
    border: 2px solid #196bbf;
    background-color: #e9e9e9;
    margin-left: 45px;
    width: 240px;
    float: left;
    height: 230px;
}

.grey-border_box {
    border: 2px solid #999999;
    background-color: #FFFFFF;
    margin-left: 45px;
    float: left;
    height: 230px;
}

.text_box {
    width: 880px;
    ;
    margin-left: 60px;
    margin-top: 40px;
    background: rgb(228,228,228);
    border: 3px solid #929292;
    color: #000;
    font-family: 'Roboto 400', sans-serif;
    font-size: 16px;
    padding: 10px;
}

.text_box-head {
    color: #000;
    font-family: 'Roboto 400', sans-serif;
    font-size: 16px;
    text-align: center;
}

.page-content-left {
    width: 620px;
    margin-top: 80px;
    float: left;
}

    .page-content-left p {
        font-family: 'Roboto 400', sans-serif;
        font-size: 14px;
    }

.page-content-right {
    width: 300px;
    float: left;
    margin-top: 115px;
    margin-left: 50px;
}

.orange {
    color: #fd9226;
    font-weight: bold;
    font-size: 16px;
    float: left;
    font-family: 'Roboto 400', sans-serif;
}

.grey {
    color: #999999;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto 400', sans-serif;
}

.grey_center {
    color: #999999;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto 400', sans-serif;
    text-align: center;
}

.request {
    width: 150px;
}

.float_lft {
    float: left;
}

.margin10 {
    margin-left: 10px;
}

.margin-5 {
    margin-top: -5px;
}

.mtop-30 {
    margin-top: 30px;
}

.mtop-10 {
    margin-top: 20px;
    margin-bottom: 18px;
}

.blue_box {
    /* background: #e9e9e9; */
    /* border: 2px solid #754aa6; */
    width: 190px;
    padding: 12px 24px 20px 22px;
    /* height: 121px; */
    float: left;
    /*border-right: 1px solid #c1c1c1;*/
   background: #f7f7f7;
    margin-right: 15px;
    /* padding: 10px 5px; */
}

.blue_box-top {
    text-align: left;
    margin-top: 5px;
    font-family: 'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans';
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    margin-top: 5px;
}

.blue_box-purple {
    color: #754aa6;
    text-align: left;
    font-size: 35px;
    font-weight: 500;
}

    .blue_box-purple a {
        color: #754aa5
    }

.blue_box-lnk {
    font-family: 'Roboto 400', sans-serif;
    text-align: center;
    font-size: 12px;
    color: #000000;
    margin-top: 25px;
}

    .blue_box-lnk a {
        font-family: 'Roboto 400', sans-serif;
        text-align: center;
        font-size: 12px;
        color: #000000;
        margin-top: 25px;
        text-decoration: underline;
    }

        .blue_box-lnk a:hover {
            font-family: 'Roboto 400', sans-serif;
            text-align: center;
            font-size: 12px;
            color: #000000;
            margin-top: 25px;
            text-decoration: none;
        }

.grey_box {
    background-color: #FFFFFF;
    width: 490px;
    overflow: auto;
    float: left;
    height: 300px;
    margin-right: 12px;
    padding: 0px 12px 0px 0px;
}

    .grey_box h2 {
        font-size: 20px;
        font-size: 22px;
        color: #252C6C;
        font-family: 'OpenSans-Regular', 'Open Sans';
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        vertical-align: none;
        text-align: left;
        line-height: normal;
        text-transform: none;
        font-size: 21px;
        color: #252C6C;
    }

    .grey_box ul{
        padding:0px;
    }

.grey_box li {
    list-style: none;
    padding: 10px 0px;
    border-bottom: 1px solid #d2d2d2;
}

    .grey_box ul li a {
        color: #754aa5;
        font-size:16px;
    }

        .grey_box ul li a:hover {
            color:#3a3a3a;
        }

.blue_box-purple a:hover {
    color: #3a3a3a;
} 

.grey_box1 {
    border: 2px solid #999999;
    background-color: #FFFFFF;
    width: 490px;
    height: 260px;
}

.grey_box-right {
    border: 2px solid #999999;
    background-color: #FFFFFF;
    width: 490px;
    float: left;
    margin-left: 40px;
    height: 260px;
}

.cntalign {
    text-align: center;
}

.txt18 {
    font-family: 'Roboto 400', sans-serif;
    text-align: center;
    font-size: 18px;
    color: #000;
}

.palign_cnt {
    margin: 0 auto;
}

.tHeaderCell {
    clear: both;
    /*white-space: nowrap;*/
    /* line-height: 47px; */
    height: 100%;
    width: 1%;
}

.inputboxtd {
    border: 1px solid #ccc;
    /* width: 100px; */
    color: #696a6c;
    height: 35px;
    line-height: 45px;
    padding-left: 5px;
    background-color: #fff;
    margin-top: 10px;
}

/*Back to Top Button*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgb(249, 149, 39);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
}

    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 18px;
        top: 12px;
        font-size: 25px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top:hover {
        background: rgb(96, 95, 93);
    }

        #return-to-top:hover i {
            color: #fff;
            top: 5px;
        }


button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.table_label {
    float: left;
    clear: both;
}

.accordion {
    background-color: transparent;
    color: #929292;
    cursor: pointer;
    font-weight: 600;
    /*padding: 8px;*/
    /*width: 100%;*/
    border: none;
    text-align: left;
    outline: none;
    font-size: 10px !important;
    /*text-transform: uppercase;*/
    transition: 0.4s;
    margin-bottom: 2%;
}

.form-check-inline {
    align-items: baseline !important;
}

#divDescriptionRFI {
    max-height: 275px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tablelabel {
    text-align: left;
    font-size: 9px !important;
}

.tdtexthide {
    overflow: hidden;
    height: 20px;
    width: 350px;
}

.loader {
    border: 18px solid #f3f3f3;
    border-radius: 50%;
    border-top: 18px solid #7800ff;
    width: 170px;
    z-index: 999;
    height: 170px;
    /* opacity: 1; */
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {
    background-color: #787873b3 !important;
}

.req_input {
    color: red;
    margin-left: 5px;
    vertical-align: sub;
}

.posttag {
    font-weight: 600 !important;
    cursor: pointer;
    color: #303c7e !important;
    font-size: 13px !important;
}

    .posttag:hover {
        color: #006f94;
    }

ul.sidebar-menu li a span:nth-child(2) {
    vertical-align: middle;
}

.edit_label {
    display: inline;
    width: 400px;
    margin-left: 10px;
    word-wrap: break-word;
}

.ques_table {
}

.aboutus_css {
    /*padding: 35px;*/
    margin-top: 10px;
    width: 80%;
    margin-left: 0px;
}

.about_heading {
    font-weight: bold;
    color: #2d2d2d;
}

.about_p {
    font-size: 18px;
}

.about_icon {
    width: 25px;
    height: 25px;
}

.link {
    font-size: 18px;
    color: black !important;
    cursor: pointer;
}

.aboutus_aa {
    margin-left: 15px;
}

.link:hover {
    color: #464646 !important;
}

.aboutus_css h5 {
    margin-bottom: 10px;
    color: #464646;
    font-weight: 400;
}

.logoutbody_css {
    /*padding: 33px 45px 47px 45px;*/
}


.global_searchbar {
    margin: 10px 4px;
    float: right;
}

.search_btn {
    /*padding: 6.20px 25px;
    border-radius: 5px;
    background-color: #f99527;
    color: white;
    border: none;
    font-size: 13px;*/
    padding: 7.30px 25px;
    border-radius: 5px;
    color: #464646;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none !important;
}

    .search_btn:hover {
        background-color: #c5c5c5;
    }

.searchbar_css {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    width: 75%;
}



.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
    display: inline-block;
}

    .search input {
        height: 30px;
        background: #fcfcfc;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 10px;
        outline: none !important;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(228, 228, 228, 1);
        border-radius: 5px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 13px;
        color: #BCBCBC;
        /*box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;*/
    }

        .search input::placeholder {
            color: #b5b5b5;
        } 
        
        .search .fa-search {
            position: absolute;
            top: 8px;
            left: 10px;
        }

.loader_text {
    width: 205px;
    color: white;
    font-weight: bold;
}

.sortcol_table {
    color: #008cba;
    /* content: '\25BC'; */
    cursor: pointer;
}

.btn-primary {
    border-radius: 5px !important;
    height: 37px !important;
    font-weight:600 !important;
}

/*Pagination & Acordion Arrow CSS*/

.focus {
    background-color: rgb(224, 224, 224);
    color: #191919;
    cursor: pointer;
    font-weight: bold;
}

.pageNumber {
    padding: 14px;
    font-size: 12px;
    border: 1px solid #adadad;
    /* width: 29px; */
    margin-top: 5px;
    margin-right: 12px;
    font-weight: bold;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
}

.table-bordered {
    border: 0px !important;
}

#pages {
    margin-top: 30px;
}

/*span {
             background: #c1c1c1;
             display: block;
             width: 100px;
             height: 25px;
             float: left;
         }*/

.pageNumber.active {
    background: #754aa5;
    color: white;
}

.accordion:hover {
    /*background-color: #ccc;*/
    color: #754aa5;
}

.accordion:after {
    content: '\25BC';
    color: #292929;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 2px;
}

.accordion.active:after {
    content: '\25B2';
    color: #292929;
}

.sortcol_table {
    font-size: 12px !important;
}

.activityHeading {
    margin: 33px 0px -6px 0px;
    font-family: 'OpenSans-Regular', 'Open Sans';
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    vertical-align: none;
    text-align: left;
    line-height: normal;
    text-transform: none;
    font-size: 22px;
    color: #252C6C;
}
/*@media only screen and (max-width: 800px) {
  #flip-scroll .cf:after

{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#flip-scroll * html .cf {
    zoom: 1;
}

#flip-scroll *:first-child + html .cf {
    zoom: 1;
}

#flip-scroll table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#flip-scroll th,
#flip-scroll td {
    margin: 0;
    vertical-align: top;
}

#flip-scroll th {
    text-align: left;
}

#flip-scroll table {
    display: block;
    position: relative;
    width: 100%;
}

#flip-scroll thead {
    display: block;
    float: left;
}

#flip-scroll tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}

#flip-scroll thead tr {
    display: block;
}

#flip-scroll th {
    display: block;
    text-align: right;
}

#flip-scroll tbody tr {
    display: inline-block;
    vertical-align: top;
}

#flip-scroll td {
    display: block;
    min-height: 1.25em;
    text-align: left;
}


#flip-scroll th {
    border-bottom: 0;
    border-left: 0;
}

#flip-scroll td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

#flip-scroll tbody tr {
    border-left: 1px solid #babcbf;
}

#flip-scroll th:last-child,
#flip-scroll td:last-child {
    border-bottom: 1px solid #babcbf;
}


}*/
/*Alamdar*/
/*Error Message Modify*/
.customAdjustment {
    /*padding: 10px !important;
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    position: inherit;
    display: block;
    right: 0;
    left: 0;
    overflow: hidden;*/
}
.alert {
    text-align: center;
    font-size: 18px !important;
    position: absolute;
    z-index: 999;
    width: 1032px;
    top: 18px;
    margin-bottom: 17px 0px;
    border-radius: 4px !important;
    font-weight: 600 !important;
}

.alert-success, .alert-success > th, .alert-success > td {
    background-color: #ddf3d5 !important;
    color: #597151 !important;
}



.alert-success {
    color: #235937;
    background-color: #d9eee1 !important;
    border-color: #59715169 !important;
}

.alert-danger {
    background-color: #ecc8c5 !important;
    color: #b4302b !important;
    border: 10px solid white;
}

.close {
    color: #ffffff !important;
}

/*Scroll CSS*/
.desc_scroll {
    max-height: 60px;
    overflow-y: auto;
}

/*.desc_scroll::-webkit-scrollbar {
    width: 5px;
}

.desc_scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.desc_scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
}*/

/*DataTable CSS Change*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.25em 0.75em !important;
    border:none !important;
    font-size:14px !important;
} 

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    border:none;
    background-color: #754aa5;
    background: -moz-linear-gradient(top, #754aa5 0%, #754aa5 100%);
    background: -ms-linear-gradient(top, #754aa5 0%, #754aa5 100%);
    background: -o-linear-gradient(top, #754aa5 0%, #754aa5 100%);
    background: linear-gradient(to bottom, #754aa5 0%, #7e5ba5 100%);
    box-shadow: inset 0 0 3px #754aa5;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {

    color: #fff !important;
    border: 1px solid #754aa5;
    background-color: #754aa5;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #754aa5 0%, #754aa5 100%);
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: black !important;
        border: none;
        background-color: #f1f1f1;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
        background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
        background: -moz-linear-gradient(top, #585858 0%, #111 100%);
        background: -ms-linear-gradient(top, #585858 0%, #111 100%);
        background: -o-linear-gradient(top, #585858 0%, #111 100%);
        background: linear-gradient(to bottom, #e4e4e4 0%, #e4e4e4 100%);
    }

.sorting, .sorting_asc, .sorting_desc {
    vertical-align: middle !important;
}


#dataTableId thead tr {
    height:55px;
}

#dataTableId thead {
    border: 1px solid #efefef;
    background-color: #f1f1f1;
}

    #dataTableId thead tr th {
        vertical-align: middle !important;
        border-top: 1px solid #d6d6d6 !important;
        border-bottom: 1px solid #d6d6d6 !important;
        font-family: 'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans' !important;
        font-weight: 650 !important;
        text-decoration: none;
        font-size: 12px !important;
        color: #2A2A2A !important;
    }

table.dataTable tbody td {
        font-family: 'OpenSans-Regular', 'Open Sans';
    font-size: 13px !important;
    color: #2A2A2A !important;
    text-align: left;
    text-align: left;
    font-weight: 400 !important;
    font-style: normal;
    line-height: normal;
    text-transform: none;

    border-bottom: 1px solid #efefef !important;
}
.paginate_button.previous {
    font-family: 'Roboto 700',sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.paginate_button.next {
  float:right;
}

a:hover{
    text-decoration:none;
}

.gridExportError {
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #ffffff;
    background-color: #ff5959;
}

.control-label {
    text-decoration: none;
    color: #2A2A2A !important;
    font-family: 'OpenSans-SemiBold', 'Open Sans SemiBold', 'Open Sans' !important;
    font-weight: 650 !important;
    font-style: normal;
    font-size: 14px !important;
    line-height: 24px !important;
}

.form-control {
    border-radius: 4px !important;
    border: 1px solid #cacaca !important;
}

input, select, textarea {
    border-radius: 4px !important;
    border: 1px solid #cacaca !important;
}

.hrcss {
    padding: 0px !important;
    margin: 6px 0px !important;
}

.exportGridbtn {
    border: 1px solid #754aa5;
    border-radius: 5px;
    color: #754aa5 !important;
    outline: none !important;
    font-family: OpenSans-SemiBold, "Open Sans SemiBold", "Open Sans";
    font-weight: 650;
    /* text-decoration: underline; */
    font-size: 13px;
    /* text-align: left; */
    align-self: center;
    padding: 8px 30px 8px 30px;
}

.btnalignright{
    text-align:right;
}

#dataTableId {
    margin-top: 10px;
    font-size: 13px;
    width: 100%;
    table-layout: auto;
}

table.dataTable thead th {
    padding: 8px 10px !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #8a8a8a !important;
}

.table-bordered th, .table-bordered td {
    border: none !important;
}

/*Grid Menu dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 25px !important;
    width: 100% !important;
    margin-top:5px;
    white-space:nowrap;
}

    /*.dropdown span:hover {
        color: #636363 ;
    }*/

#dataTableId td a:hover {
    color: #636363;
} 

.dropdown span {
    font-size: 12.25px !important;
}
    .dropdown > span {
        font-size: 12.50px !important;
        color: #754aa5;
    }

.dropdown-content ul li a i {
    padding-right: 8px;
}


.dropdown-content ul li:first-child a:hover:after {
    /*border-bottom-color: #f7f7f7;*/
}

.dropdown-content ul li:first-child > a:after {
    content: '';
    position: absolute;
    top: -12px;
    right: 15px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 12px solid #754aa5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #754aa5;
    /*min-width: 125px;*/
    min-width: 128px !important;
    white-space: nowrap !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    z-index: 1;
    margin-top: 6px;
    right: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    color: white !important;
    padding: 10px 18px;
    text-decoration: none;
    display: inline-block;
    width:100% !important;
}

.dropdown-content ul {
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px !important;
}

    .dropdown-content ul li {
        text-align: left;
    }

    .dropdown-content ul li i{
       color:white;
    }
        .dropdown-content ul li:hover {
            color: #222222;
            background-color: #f7f7f7;
        }

        .dropdown-content ul li:hover a {
            color: #222222 !important;
            background-color: #f7f7f7;
        }
            .dropdown-content ul li:hover i {
                color: #222222;
                background-color: #f7f7f7;
            }
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.fa-bell:after {
    content: "5";
    position: absolute;
    background-color: red;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: white;
    /* top: 34px; */
    /* left: 0; */
    margin-top: -5px;
    margin-left: -6px;
}

.alertsDiv ul li:first-child > a:after {
    content: '';
    position: absolute;
    /* left: 142px; */
    /* float: right; */
    right: 45px;
    top: -12px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 14px solid #754aa5;
}

.alertIcon {
    margin-right: 2px;
}

.alertsDiv {
    position: absolute;
    background-color: #754aa5;
    /* min-width: 125px; */
    max-width: 360px !important;
    /* white-space: nowrap !important; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    z-index: 1;
    right: 130px;
    top: 80px;
    /* margin-top: 6px; */
    min-height: 370px;
    border-radius: 5px;
}

    .alertsDiv h5 {
        padding: 15px 0px 0px 18px;
        color: white;
        font-weight: 600;
        font-size: 16px;
    }

.visibleEffect {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hiddenEffect {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.alertinnerDiv {
    background-color: white;
    /* padding: 9px; */
    margin: 15px 15px 10px 15px;
    overflow-y: auto;
    height: 285px;
}

    .alertinnerDiv ul {
        padding: 0px;
        list-style: none;
        /* margin: 10px; */
    }

        .alertinnerDiv ul li {
            padding: 15px 15px;
            border-bottom: 1px solid #d4d4d4;
        }

            .alertinnerDiv ul li a {
                color: #303c7e !important;
            }
            .alertinnerDiv ul li a:hover {
                color: black !important;
            }

.pageMainHeading {
    font-weight: 400;
    font-size: 24px;
    color: #252C6C;
    font-family: OpenSans-Regular, "Open Sans";
    /* font-weight: 400; */
    font-style: normal;
    /* font-size: 16px; */
    letter-spacing: normal;
    /* color: rgb(51, 51, 51); */
    /* text-align: center; */
    line-height: normal;
    text-transform: none;
}

.btn{
    border-radius:5px !important;
}

.mainDivBg {
    /*background-color: #f5f5f5;*/
    padding: 10px;
}

.descCss {
    width: 400px;
    font-size: 13px;
    color: #5a5a5a;
}

.formDivGlobalCss {
    width: 60%;
}

.text-danger {
    font-size: 13px !important;
}

.validation-summary-errors ul{
    list-style: none !important;
    padding-left: 0px !important;
}

.accountDetailMainDiv {
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    -moz-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    border: 1px solid #e0e0e0;
    padding: 25px;
    width:70%;
}

.editdetailbtn {
    float: right;
    font-size: 19px;
    /* font-weight: 400; */
    color: #754aa5;
}

.deletebtn {
    width: 96px;
    background-color: transparent !important;
    border-radius: 5px !important;
    padding: 2px 5px;
    border: 1px solid #e24232 !important;
    color: #e24232 !important;
    text-align: center;
    font-size: 15px;
}

.deletebtn:hover {
    background-color: #fff5f5 !important;
    /* border: coral; */
    border-color: red;
    color: red !important;
}

.progressBarCss {
    color: #989898 !important;
    font-size: 18px !important;
    font-weight: 700 !important;
}

.percentagecss {
    color: #613394 !important;
    font-size: 22px !important;
    line-height: 22px !important;
    margin-left: 10px !important;
}

.rfiLeftNav {
    height: 555px;
    overflow-y: auto;
    overflow-x:hidden;
    width: 100%;
    padding: 10px;
}

.rfiContentDiv {
    border-bottom: 14px solid #f7f7f7 !important;
    border: 1px solid #e8e8e8;
    padding: 0px 0px 0px 0px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    -moz-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
}

.submenu-users {
    list-style: none;
    padding: 0px;
}

.insidemenu-user {
    list-style: none;
    padding: 0px;
}

.insidemenu-user li{
    padding-left:35px !important;
}

.dropdown-btn {
    cursor: pointer;
    transition: 0.35s all linear;
}

.tabActive {
    background-color: #e8e3ef !important;
}

.tabActive a{
    font-weight: 650 !important;
    color: #303c7e !important;
}

.submenu-users li{
    border:none !important;
}

    .submenu-users li:last-child {
        border-bottom: 1px solid #e5e5e5 !important;
    }

.adminbtm {
    border-bottom: 1px solid #e5e5e5 !important;
}

.dropdownBg{
    background-color:transparent !important;
}

.insidemenu-user li:hover {
    background-color: #e8e3ef !important;
}

.insidemenu-user li a:hover {
    color: #754aa5 !important;
}

.btn_fileupload_11{
    border:none !important;
}

.tablecss dd {
    margin-bottom: 1.5rem;
    margin-left: 0;
    width: 350px;
}

.editBtnDetailPage {
    cursor: pointer;
    float: right;
    /* font-weight: bold; */
    font-size: 19px;
    color: #754aa5 !important;
}

    .editBtnDetailPage a {
        color: #754aa5 !important;
        padding-left: 2px;
    }

    .editBtnDetailPage:hover {
        color: #303c7e !important;
    }

    .editBtnDetailPage a:hover {
        color: #303c7e !important;
    }

.dataTables_wrapper .dataTables_paginate{
    float: right !important;
    margin-top:14px !important;
}

#dataTableId td a {
    color: #754aa5;
    font-size:12.50px;
    cursor:pointer;
    white-space:nowrap;
}

.fa-eye:after{

}

.action_View {
    font-size: 12px;
    min-width: 190px !important;
}

.action2_View {
    font-size: 12px;
    min-width: 120px !important;
}

.action1_View {
    font-size: 12px;
    min-width: 55px !important;
}


.action_View a span {
    margin: 0px 8px 0px 0px;
}

    .action_View a:hover {
        color: #303c7e !important;
    }

.iconbtn i{
    margin-right:5px;
}

.btn-primary {
    outline: none !important;
    font-family: OpenSans-SemiBold, "Open Sans SemiBold", "Open Sans";
    font-weight: 650;
    /* text-decoration: underline; */
    font-size: 13px;
    color: #FFFFFF;
    /* text-align: left; */
    align-self: center;
    padding: 8px 22px 8px 22px;
    border: 1px solid #754aa5 !important;
}

.statusIcon {
    font-size: 12px;
    margin-right: 4px;
    display: inline;
}

.publishColor, .approvedColor {
    color: #2ad28b;
}

.draftColor {
    color: #9e9e9e;
}

.pendingColor {
    color: #f99527;
}

.rejectedColor {
    color: #fb4e35;
}

.editbtnDetail {
    float: right;
    padding: 0px 10px;
    font-size: 16px;
    color: #754aa5;
}

    .editbtnDetail i {
        /* padding-right: 2px; */
        float: left;
        /* vertical-align: middle; */
        margin-top: 4px;
    }

/* total width */
::-webkit-scrollbar {
    background-color: #fff !important;
    width: 7.50px !important;
    height: 7.50px !important;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: #fbfbfb !important;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: #babac0 !important;
    border-radius: 16px !important;
    border: 1px solid #fbfbfb !important;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
    display: none !important;
}

.btn-primary {
    height: 36px !important;
    min-width: 120px !important;
}

    .btn-primary:hover {
        background-color: #303c7e !important;
        color : white !important;
    }

.btn-secondary {
        min-width: 120px;
        height: 36px;
        background-color:transparent !important;
            border: 1px solid #754aa5 !important;
    border-radius: 5px !important;
    color: #754aa5 !important;
    font-weight: 600 !important;
    }

    .btn-secondary:hover {
        border-color: #303c7e !important;
        color: #303c7e !important;
    }

.exportGridbtn:hover {
    color: #303c7e !important;
    border-color: #303c7e !important;
}

a:hover {
    color: #303c7e !important;
}

button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: #027dc5 !important;
}

.input-validation-error {
    border-color: #c0392b !important;
}

.breadcrumb span a {
    color: #754aa5 !important;
}

.personalh3css {
    margin: 22px 0px 8px 0px;
}

    .personalh3css h3 {
        font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
        font-weight: 700;
        text-decoration: none;
        font-size: 14px;
        color: #2A2A2A;
    }

    .personalh3css p {
        color: black;
        font-size: 14px !important;
        line-height: 22px !important;
    }

.logoutbody_css .pagelogoutcss {
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    -moz-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    border: 1px solid #e0e0e0;
    padding: 25px;
}

.logoutbody_css .contactpagecss{
    padding: 33px 45px 47px 45px;
}

/*.emailVerifyPage {
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    -moz-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    box-shadow: 0px 3px 10px -3px rgba(212,212,212,1);
    border: 1px solid #ececec;
    padding: 25px;
    width: 100%;
    background-color: #f7f7f7;
}*/

.emailVerifyPage {
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    -moz-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
    box-shadow: 3px 5px 5px -4px rgba(212,212,212,1);
    border: 1px solid #3965964d !important;
    padding: 25px;
    width: 100%;
    background-color: #cde8f5;
    color: #2d5e87 !important;
    margin-top: 25px;
}

    .emailVerifyPage hr {
        border-color: #a0bacf !important;
    }

    .emailVerifyPage i {
        font-size: 22px;
        vertical-align: middle;
        line-height: 1.25;
    }

.logoutbody_css .registerFormWithlogin {
    width: 55%;
    margin-left: 36px;
}

.registerFormWithlogin {
    width: 70%;
}

.grey_box h6 {
    color: #7F7F7F;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 0px;
}
.grey_box ul li a {
    text-decoration:none;
}

.viewbtninGrid {
    min-width: 50px !important;
    display: block;
}

.downloadbtnGrid {
    min-width: 82px !important;
    display: block;
}
.resumebtnGrid {
    min-width: 70px !important;
    display: block;
}



.rejectBtn {
    font-weight: 500;
    height: 36px !important;
    min-width: 120px !important;
}

.downloadDropdown {
    width: 80px;
}

.userHover {
    background-color: #e5e5e5;
    color: #303c7e;
    display: block;
    text-decoration: none !important;
}

.logoutbody_css{
    width:100%;
}

.advSearchBtn {
    border: 1px solid #754aa5;
    border-radius: 5px;
    color: #754aa5 !important;
    outline: none !important;
    font-family: OpenSans-SemiBold, "Open Sans SemiBold", "Open Sans";
    font-weight: 650;
    /* text-decoration: underline; */
    font-size: 13px;
    /* text-align: left; */
    align-self: center;
    padding: 8px 30px 8px 30px;
    /* border: 1px solid #754aa5; */
}

.modal-header h4{
    font-weight:600
}

/*form field microcopy css for RFI Detailed Page*/
#divDForm .desc h6{
    font-family: 'OpenSans-Regular', 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-align: left;
    color: #7F7F7F;
    letter-spacing: normal;
    vertical-align: none;
    line-height: normal;
    text-transform: none;
}

#divDForm .form-group{
    margin-bottom:0px !important;
}

#divDForm .errorMsg {
    font-family: 'OpenSans-Regular', 'Open Sans';
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 12px;
    color: #C0392B;
}

#divDForm .control-label {
    margin-bottom: 0px;
}

.modal-content{
    border:none !important;
}

.deleteDivCss dd{
    width:100%;
}

input, select, textarea {
    max-width: 100%;
}

    input::-webkit-calendar-picker-indicator {
        display: none;
    }
input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

#divForExistingProvider span{
    font-size:13px;
}

.dataTable tbody tr td span {
    /*color: #754aa5 !important;
    margin-right: 8px;*/
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
    color: #76a6ff !important;
    font-size: 16px !important;
    cursor: pointer;
}

    .tooltip .tooltiptext {
        webkit-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
        -moz-box-shadow: 0px 3px 16px -2px rgba(212,212,212,1);
        box-shadow: 0px 4px 15px 2px rgb(206, 206, 206);
        border: 1px solid #cccccc;
         visibility: hidden; 
        font-family: 'OpenSans-Regular', 'Open Sans';
        font-weight: 400;
        font-size: 13px !important;
        text-align: justify;
        width: 240px;
        background-color: white;
        color: #333333;
        font-size: 11px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 0%;
        margin-left: -65px;
        padding: 6px 10px;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 27%;
            /* border: 23px; */
            margin-left: -5px;
            border-width: 14px;
            border-style: solid;
            border-color: white transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.viewMoreCmt {
    color: #754aa5;
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #754aa569;
    padding: 1px 0px 1px 4px;
    border-radius: 5px;
    display: block;
    margin-top: 3px !important;
    cursor: pointer;
}

    .viewMoreCmt:hover {
        color: #303c7e;
        border-color: #303c7e;
    }

    .assessmentBox{
        border-right: none !important;
        background-color: #f7f7f7;
        padding: 15px 10px 15px 10px;
        width: 100%;
        margin: 15px 0px !important;
    }


.fullnamecss {
    word-break: break-all !important;
    padding: 5px;
    margin: 0px;
}
.modal-headercustomcss {
    border-radius: 11px;
    background-color: rgba(139, 60, 154, 0.09) !important;
    margin: 4px;
}